@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Додаток, який має на меті полегшити життя)</h1>
    <p>Факультет КНК</p>
    <div>
        <a asp-controller = "Libraries" asp-action="">До списку бібліотек</a>
    </div>
</div>
